<% content_for :leftmenu do %>
	<li><%= link_to "Pokaż wszystkie", pokaz_wszystkie_url %><br/>
	<li><%= link_to "Dodaj newsa", new_url %><br/>
<% end %>
<span class="head">Edytuj newsa</span><br><br>

<% form_for(@news) do |f| %>
  <%= f.error_messages %>

<table>
  <tr><td class="news_data"><%= f.date_select :dodane %> || <%= f.text_field :tytul, :size => '23' %>
  <tr><td class="news_tresc"><%= f.text_area(:tresc, :size => "40x10") %> 
</table>
  <p>
    <%= f.submit 'Update' %>|| <%= link_to 'Show', @news %> || <%= link_to 'Back', news_index_path %>
  </p>
<% end %>



