<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Pokaż wszystkie", pokaz_wszystkie_url %></span><br>
	<span class="button"><%= link_to "Dodaj newsa", new_url %></span>
<% end %>

<span class="head">Edytuj newsa</span><br><br>

<% form_for(@news) do |f| %>
  <%= f.error_messages %>

<table>
  <tr><td class="news_data"><%= f.date_select :dodane %> || <%= f.text_field :tytul, :size => '23' %>
  <tr><td class="news_tresc"><%= f.text_area(:tresc, :size => "40x10") %> 
</table>
  <p>
    <span class="news_actions"><%= f.submit 'Update' %>|| <%= link_to 'Show', @news %> || <%= link_to 'Back', news_index_path %></span>
  </p>
<% end %>



