<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Pokaż wszystkie", pokaz_wszystkie_url %></span><br>
	<span class="button"><%= link_to "Dodaj newsa", new_url %></span>
<% end %>

<span class="head">Wszystkie newsy:</span><br><br>


<% @news.each do |news| %>
<table>
  <tr><td class="news_data"><%=h news.dodane %> || <%=h news.tytul %>
  <tr><td class="news_tresc"><%=h news.tresc %>  
</table>
  <span class="news_actions"><%= link_to 'Show', news %> || <%= link_to 'Edit', edit_news_path(news) %> || <%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete %></span>
<% end %>


