<% content_for :leftmenu do %>
	<%= link_to "wszystkie", {:controller=>"news"} %><br/>
	<%= link_to "dodaj", {:controller=>"news", :action=>"new"} %><br/>
<% end %>
<h1>New news</h1>

<% form_for(:news, :url => news_index_url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tytul %><br />
    <%= f.text_field :tytul %>
  </p>
  <p>
    <%= f.label :tresc %><br />
    <%= f.text_field :tresc %>
  </p>
  <p>
    <%= f.label :dodane %><br />
    <%= f.date_select :dodane %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', news_index_path %>
