<% content_for :leftmenu do %>
	<li><%= link_to "Pokaż wszystkie", pokaz_wszystkie_path %><br/>
	<li><%= link_to "Dodaj newsa", new_path %><br/>
<% end %>

<span class="head">Podgląd newsa</span><br><br>

  <table>
  <tr><td class="news_data"><%=h @news.dodane %> || <%=h @news.tytul %>
  <tr><td class="news_tresc"><%=h @news.tresc %>
</table>

<%= link_to 'Edit', edit_news_path(@news) %> || <%= link_to 'Back', news_index_path %>

