<% content_for :leftmenu do %>
	<%= link_to "wszystkie", {:controller=>"news"} %><br/>
	<%= link_to "dodaj", {:controller=>"news", :action=>"new"} %><br/>
<% end %>
<p>
  <b>Tytul:</b>
  <%=h @news.tytul %>
</p>

<p>
  <b>Tresc:</b>
  <%=h @news.tresc %>
</p>

<p>
  <b>Dodane:</b>
  <%=h @news.dodane %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
