<% content_for :leftmenu do %>
	<li><%= link_to "Pokaż wszystkie", pokaz_wszystkie_path %><br/>
	<li><%= link_to "Dodaj newsa", new_path %><br/>
<% end %>
<p>
  <b>Tytul:</b>
  <%=h @news.tytul %>
</p>

<p>
  <b>Tresc:</b>
  <%=h @news.tresc %>
</p>

<p>
  <b>Dodane:</b>
  <%=h @news.dodane %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
