<% content_for :leftmenu do %>
	<li><%= link_to "Wszyscy zawdonicy", players_all_url %>
	<li><%= link_to "Dodaj zawodnika", players_new_url %><br/>
<% end %>
<h1>Edytuj zawodnika</h1>

<% form_for(@player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label("Imię i nazwisko") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label("Data urodzenia") %><br />
    <%= f.date_select :dateOfBirth %>
  </p>
  <p>
    <%= f.label("Opis") %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label("Zdjęcie") %><br />
    <%= f.text_field :picture %>
  </p>
  <p>
    <%= f.submit 'Zapisz' %>
  </p>
<% end %>

<%= link_to 'Pokaż', @player %> |
<%= link_to 'Powrót', players_path %>
