<% content_for :leftmenu do %>
	<li><%= link_to "Wszyscy zawdonicy", players_all_url %>
	<li><%= link_to "Dodaj zawodnika", players_new_url %><br/>
<% end %>
<p>
  <b>Imię i Nazwisko:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Data urodzin:</b>
  <%=h @player.dateOfBirth %>
</p>

<p>
  <b>Opis:</b>
  <%=h @player.description %>
</p>

<p>
  <b>Zdjęcie:</b>
  <%=h @player.picture %>
</p>


<%= link_to 'Edytuj', edit_player_path(@player) %> |
<%= link_to 'Powrót', players_path %>
