<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Gadżety", gadgets_show_path %></span><br>
<% end %>
<span class="head">Gadżety</span>
<br><br>
<span class="profil">                                                                              
<% @gadgets.each do |gadget| %>                                                                               

<img class="avatar" src="<%= gadget.picture %>", width = "120px", height = "120px", align ="right">
  <span class="dane_profil">Nazwa:</span> <%= gadget.name %><br>
                                         <span class="dane_profil">Cena:</span> <%= gadget.price %><br>
                                        <span class="sklep"> <span class="dane_profil">Opis:</span> <%= gadget.body %><br>


	</span>
<% end %>
 </span> 


