<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Gadżety", gadgets_show_path %></span><br>
<% end %>
<span class="head">Gadżety</span>
<br><br>
<span class="profil">                                                                              
<% @gadgets.each do |gadget| %>                                                                               

<img class="avatar" src="<%= gadget.picture %>", width = "120px", height = "120px", align ="right">
  <span class="sklep_cena">Nazwa:</span><span class="sklep_kolor"> <%= gadget.name %></span><br>
                                         <span class="sklep_cena">Cena:</span><span class ="sklep_kolor"> <%= gadget.price %></span><br>
                                        <span class="sklep"> <span class="sklep_cena">Opis:</span> <%= gadget.body %><br>


	</span>
<% end %>
 </span> 


