<span class="head">Team</span><br><br>
<table class="team">
<tbody>
<ul>
<tr><td><li><%= link_to 'Łukasz Muzalewski','http://sigma.ug.edu.pl/~lmuzalew',{:target => "_new"} %></li>
<tr><td><li><%= link_to 'Tomasz Boyke','http://sigma.ug.edu.pl/~tboyke',{:target => "_new"} %></li>
<tr><td><li><%= link_to 'Paweł Budziłło','http://sigma.ug.edu.pl/~pbudzill',{:target => "_new"} %></li>
<tr><td><li><%= link_to 'Rafał Lenza','http://sigma.ug.edu.pl/~rlenza',{:target => "_new"} %></li>
<tr><td><li><%= link_to 'Paweł Rzóska','http://sigma.ug.edu.pl/~przoska',{:target =>"_new"} %></li>
</ul>
</tbody>
</table>




