<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Pokaż wszystkie", wszystkie_path %></span><br/>
	<span class="button"><%= link_to "Dodaj termin", dodaj_path%></span>
<% end %>

<span class="head">Edycja terminu</span><br><br>

	<% form_for(@termin) do |f| %>  
	<%= f.error_messages %>

<table class="wyniki">
	<caption class="thead"><%= f.text_field :data_spotkania %><caption>
	<tbody>
		<tr class="wyniki"><td class="ngoscie">Goście<td class="ngole">Wynik<td class="ngospodarze">Gospodarze
		<tr class="wyniki"><td class="goscie"> <%= f.text_field :goscie, :size => "20" %> <td class="gole"> <%= f.text_field :wynik, :size => "5" %> <td class="gospodarze"> <%= f.text_field :gospodarze, :size => "20" %>
	</tbody>
</table>
 
    <br><span class="news_actions"><%= f.submit 'Update' %> || <%= link_to 'Back', wszystkie_path %></span>
	<% end %>



