<% content_for :leftmenu do %>
	<span class="button"><%= link_to "Pokaż wszystkie", wszystkie_path %></span><br/>
	<span class="button"><%= link_to "Dodaj termin", dodaj_path%></span>
<% end %>

<% @termin.each do |termin| %>
	<table class="wyniki">
	<caption class="thead"><%= termin.data_spotkania %><caption>
	<tbody>
	<tr class="wyniki"><td class="ngoscie">Goście<td class="ngole">Wynik<td class="ngospodarze">Gospodarze
	<tr class="wyniki"><td class="goscie"> <%= termin.goscie %> <td class="gole"> <%= termin.wynik %> <td class="gospodarze"> <%= termin.gospodarze %>
	</tbody>
	</table>
	<span class="news_actions"><%= link_to 'Edit', :action => 'edit', :id => termin %></span> || <span class="news_actions"> <%= link_to 'Delete',:action => 'usun', :id => termin , :confirm => 'Jesteś pewien?'%></span>
	<br><br>
<% end %>
