
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Pomorskie Kopyto FC</title>

    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="projekktor.js"></script>

     <script type="text/javascript">
		var PROJEKKTOR_CONFIG = { playerFlashMP4: "movies/playerMP4.swf" };
    </script> 
       
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'coderay' %>
    <%= stylesheet_link_tag 'projekktor_theme_tll' %>
    
    
     
    <!--[if IE 6]><link rel="stylesheet" href="stylesheets/style.ie6.css" type="text/css" media="screen" /><![endif]-->
</head>
<body>
    <div class="PageBackgroundGradient"></div>
    <div class="Main">
        <div class="Sheet">
            <div class="Sheet-tl"></div>
            <div class="Sheet-tr"><div></div></div>
            <div class="Sheet-bl"><div></div></div>
            <div class="Sheet-br"><div></div></div>
            <div class="Sheet-tc"><div></div></div>
            <div class="Sheet-bc"><div></div></div>
            <div class="Sheet-cl"><div></div></div>
            <div class="Sheet-cr"><div></div></div>
            <div class="Sheet-cc"></div>
            <div class="Sheet-body">
                <div class="Header">
                    <div class="Header-png"></div>
                    <div class="Header-jpeg"></div>
                    <div class="logo">
                        <h1 id="name-text" class="logo-name">Pomorskie Kopyto FC</h1><span class="clock"> </span>
                        <div id="slogan-text" class="logo-text">You can't stop us</div>
                    </div>
                </div>
                <div class="nav">
                   <br><span class="topmenu">
                        <%= activeLink "<span><span>Home</span></span>", {:controller=>"main_page", :action=>"index"} %>
                        <%= activeLink "<span><span>Terminarz</span></span>", {:controller=>"main_page", :action=>"calendar"} %>
						<%= activeLink "<span><span>O Klubie</span></span>", {:controller=>"main_page", :action=>"oklubie"} %>
                        <%= activeLink "<span><span>Media</span></span>", {:controller=>"main_page", :action=>"media"}%>
                        <%= activeLink "<span><span>Sklep</span></span>", {:controller=>"main_page", :action=>"sklep"} %>
						<%= activeLink "<span><span>Info</span></span>", {:controller=>"main_page", :action=>"kontakt"} %>
						</span>
						
						<span class="data">
						
						<script language="JavaScript1.1">
<!--

// geben Sie bitte hier das Unterverzeichniss an, dass Ihre Bilder enthält
//  "" bedeitet die Bilder sind im selben Verzeichniss wie das Script
var image_dir = "/images/";

// Wie oft soll die Uhr erneuert werden? In Sekunden.
var speed = 1;

// ********** Hier bitte nichts verändern ************

// preload Nummer der Bilder
img0 = new Image(); img0.src = image_dir+"0.gif";
img1 = new Image(); img1.src = image_dir+"1.gif";
img2 = new Image(); img2.src = image_dir+"2.gif";
img3 = new Image(); img3.src = image_dir+"3.gif";
img4 = new Image(); img4.src = image_dir+"4.gif";
img5 = new Image(); img5.src = image_dir+"5.gif";
img6 = new Image(); img6.src = image_dir+"6.gif";
img7 = new Image(); img7.src = image_dir+"7.gif";
img8 = new Image(); img8.src = image_dir+"8.gif";
img9 = new Image(); img9.src = image_dir+"9.gif";

// ausbesserung eines Netscape 2 und 3 bugs
function getFullYear(d) { // d is a date object
 yr = d.getYear();
 if (yr < 1000)
  yr+=1900;
 return yr;
}
function calcDate() {
 now = new Date();
 d = now.getDay();
 document.dayofweek.src = image_dir+"d" + d + ".gif";
 m = now.getMonth();
 document.month.src = image_dir+"m" + m + ".gif";
 dd = now.getDate();
 dd = (dd >= 10 ? "":"0") + dd;
 document.date1.src = image_dir + dd.substring(0,1) + ".gif";
 document.date2.src = image_dir + dd.substring(1,2) + ".gif";
 y = "" + getFullYear(now);
 document.year1.src = image_dir + y.substring(0,1) + ".gif";
 document.year2.src = image_dir + y.substring(1,2) + ".gif";
 document.year3.src = image_dir + y.substring(2,3) + ".gif";
 document.year4.src = image_dir + y.substring(3,4) + ".gif";
 calcAmPm();
}

function calcAmPm(){
 ampm = new Date();
 ap = ampm.getHours();
 if (ap < 12) {
  document.morn.src = image_dir + "am.gif";
 } else {
  document.morn.src = image_dir + "pm.gif";
 }
 calcTime();
}

speed *= 1000; // die Zeit wird in Millisekunden nicht Sekunden gehalten

function calcTime() {
 now = new Date();
 h = now.getHours();
 if (h > 12)
  h = h - 12;
 h = (h<10?"0":"") + h;
 document.hour1.src = image_dir + h.substring(0,1) + ".gif";
 document.hour2.src = image_dir + h.substring(1,2) + ".gif";
 m = now.getMinutes();
 m = (m<10?"0":"") + m;
 document.min1.src = image_dir + m.substring(0,1) + ".gif";
 document.min2.src = image_dir + m.substring(1,2) + ".gif";
 se = now.getSeconds();
 se = (se<10?"0":"") + se;
 document.sec1.src = image_dir + se.substring(0,1) + ".gif";
 document.sec2.src = image_dir + se.substring(1,2) + ".gif";
 if ((h < 1) && (m < 1) && (se < 1))
  calcDate();
 if ((h == 12) && (m < 1) && (se < 1))
  calcAmPm();
 setTimeout("calcTime()",speed);
}

document.write('<img name="dayofweek" src="'+image_dir+'space.gif" height=11 width=35 >'
+'<img src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="month" src="'+image_dir+'space.gif" height=11 width=29><img src="'
+image_dir+'space.gif" width=9 height=11><img name="date1" '
+'src="'+image_dir+'space.gif" width=9 height=11 ><img name="date2" src="'+image_dir+'space.gif" width=9 '
+'height=11><img name="comma" src="'+image_dir+'cc.gif" border=0 width=4 '
+'height=11><img src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="year1" src="'+image_dir+'space.gif" width=9 height=11><img name="year2" src="" '
+'width=9 height=11><img name="year3" src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="year4" src="'+image_dir+'space.gif" width=9 height=11><img src="'+image_dir
+'space.gif" width=9 height=11><img src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="hour1" src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="hour2" src="'+image_dir+'space.gif" width=9 height=11><img name="colon" src="'
+image_dir+'c.gif" border=0 width=4 height=11><img name="min1" src="'+image_dir+'space.gif" '
+'width=9 height=11><img name="min2" src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="colon" src="'+image_dir+'c.gif" width=4 height=11>'
+'<img name="sec1" src="'+image_dir+'space.gif" width=9 height=11><img name="sec2" src="" '
+'width=9 height=11><img src="'+image_dir+'space.gif" width=9 height=11>'
+'<img name="morn" src="'+image_dir+'space.gif" width=20 height=11>');
calcDate();
// -->
</script>
						
						</span>
					
                    <div class="l">
                    </div>
                    <div class="r">         
                         <div>
                        </div>
                    </div>
                </div>
                <div class="contentLayout">
                    <div class="sidebar1">
                        <div class="Block">
                            <div class="Block-tl"></div>
                            <div class="Block-tr"><div></div></div>
                            <div class="Block-bl"><div></div></div>
                            <div class="Block-br"><div></div></div>
                            <div class="Block-tc"><div></div></div>
                            <div class="Block-bc"><div></div></div>
                            <div class="Block-cl"><div></div></div>
                            <div class="Block-cr"><div></div></div>
                            <div class="Block-cc"></div>
                            <div class="Block-body">
                                <div class="BlockHeader">
                                    <div class="header-tag-icon">
                                        <div class="BlockHeader-text">
                                            Menu
                                        </div>
                                    </div>
                                    <div class="l"></div>
                                    <div class="r"><div></div></div>
                                </div>
                                <div class="BlockContent">
                                    <div class="BlockContent-body">
                                        <div>
                                       
                                                          <span class="leftmenu">
                                                          <%= yield :leftmenu %>
                                                          <span class="button"><%= link_to "Zaloguj się", {:controller=>"user"} %></span><br><br>
                                                          
                                                          
															<script language="JavaScript">
															VIH_BackColor = "palegreen";
															VIH_ForeColor = "navy";
															VIH_FontPix = "16";
															VIH_DisplayFormat = "You are visiting from:<br>Your IP: %%IP%%<br";
															VIH_DisplayOnPage = "yes";
															</script>
															<script language="JavaScript" src="http://scripts.hashemian.com/js/visitorIPHOST.js.php"></script>
                                                         
                                                          </span>
                                       </div>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="Post">
                            <div class="Post-body">
                        <div class="Post-inner">
                            <h2 class="PostHeaderIcon-wrapper">
                                <p style="color: green"><%= flash[:notice] %></p>
                                
                                <%= coderay(yield) %>                            
                            </h2>
                            <div class="PostContent">    
                                <table class="table" width="100%">
                                	<tr>
                                		<td width="33%" valign="top">
                                		<div class="Block">
                                			<div class="Block-body">
                                				<div class="BlockHeader">
                                					<!--div class="header-tag-icon"-->
                                					</div>
                                				</div>
                                			</div>
                                		</div>
                                		</td>
                                		<td width="33%" valign="top">
                                		<div class="Block">
                                			<div class="Block-body">
                                				<div class="BlockHeader">
                                					<!--div class="header-tag-icon"-->
                                					<div class="BlockHeader-text">                                				
                                			</div>
                                		</div>
                                		</td>
                                		<td width="33%" valign="top">
                                		<div class="Block">
                                			<div class="Block-body">
                                				<div class="BlockHeader">
                                					<!--div class="header-tag-icon"-->
                                					<div class="BlockHeader-text">
                                				</div>
                                			</div>
                                		</div>
                                		</td>
                                	</tr>
                                </table>
                                    
                            </div>
                            <div class="cleared"></div>
                        </div>
                        
                            </div>
                        </div>
                        <div class="Post">
                            <div class="Post-body">
                        <div class="Post-inner">                                                                
                            </div>
                            <div class="cleared"></div>
                        </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cleared"></div><div class="Footer">
                    <div class="Footer-inner">
                        <a href="#" class="rss-tag-icon" title="RSS"></a>
                        <div class="Footer-text">
                            <p><a href="#">Contact Us</a> | <a href="#">Terms of Use</a> | <a href="#">Trademarks</a>
                                | <a href="#">Privacy Statement</a><br />
                                Copyright &copy; 2009 ---. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="Footer-background"></div>
                </div>
            </div>
        </div>
        <div class="cleared"></div>
        <p class="page-footer"><a href="http://www.inf.ug.edu.pl:8070/">Web Template</a> created by UG-Team</p>
    </div>
    
</body>
</html>
